Repository gardener/external-dns-management, pull requests merged in 2024-10, with the labels that each got.

#390 Provider PowerDNS implementation
  README.md
  cmd/compound/main.go
  docs/powerdns/README.md
  examples/20-secret-powerdns-credentials.yaml
  examples/30-provider-powerdns.yaml
  go.mod
  go.sum
  pkg/controller/provider/powerdns/controller/controller.go
  pkg/controller/provider/powerdns/execution.go
  pkg/controller/provider/powerdns/factory.go
  pkg/controller/provider/powerdns/handler.go
Labels: reviewed/lgtm, size/l

#394 Introduce gosec for Static Application Security Testing (SAST)
  .gitignore
  Makefile
  charts/external-dns-management/templates/crds.yaml
  go.mod
  go.sum
  hack/sast.sh
  pkg/apis/dns/crds/dns.gardener.cloud_dnsannotations.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_dnsentries.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_dnshostedzonepolicies.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_dnsowners.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_dnsproviders.yaml
  pkg/apis/dns/crds/zz_generated_crds.go
  pkg/controller/provider/openstack/designateclient.go
  pkg/controller/provider/powerdns/handler.go
  pkg/controller/provider/remote/handler.go
  pkg/dns/provider/state_entry.go
  pkg/server/remote/embed/dynamictransportcreds.go
  test/functional/config/config.go
  test/functional/config/utils.go
  test/integration/testenv.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#395 Add SAST logs to OCM component descriptor
  .ci/pipeline_definitions
Labels: needs/ok-to-test, needs/review, size/xs

#396 Use filepath.Clean to get rid of gosec G304
  test/functional/config/config.go
  test/integration/testenv.go
Labels: needs/ok-to-test, needs/review, size/xs
