Repository gardener/external-dns-management, pull requests merged in 2024-08, with the labels that each got.

#381 Drop CRDs dnslock and remoteaccesscertificates
  Makefile
  charts/external-dns-management/templates/clusterrole.yaml
  charts/external-dns-management/templates/crds.yaml
  charts/external-dns-management/templates/deployment.yaml
  charts/external-dns-management/templates/secret-remoteaccess.yaml
  charts/external-dns-management/values.yaml
  cmd/compound/main.go
  cmd/dedicated/main.go
  cmd/play/main.go
  docs/remote/README.md
  examples/60-owner.yaml
  examples/90-dnslock.yaml
  examples/91-remoteaccesscertificate.yaml
  hack/copy-crds.sh
  pkg/apis/dns/crds/dns.gardener.cloud_dnslocks.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_dnsowners.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_remoteaccesscertificates.yaml
  pkg/apis/dns/crds/zz_generated_crds.go
  pkg/apis/dns/v1alpha1/dnslock.go
  pkg/apis/dns/v1alpha1/dnsowner.go
  pkg/apis/dns/v1alpha1/register.go
  pkg/apis/dns/v1alpha1/remoteaccesscertificate.go
  pkg/apis/dns/v1alpha1/zz_generated.deepcopy.go
  pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/dns_client.go
  pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/dnslock.go
  pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/fake/fake_dns_client.go
  pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/fake/fake_dnslock.go
  pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/fake/fake_remoteaccesscertificate.go
  pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/generated_expansion.go
  pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/remoteaccesscertificate.go
  pkg/client/dns/informers/externalversions/dns/v1alpha1/dnslock.go
  pkg/client/dns/informers/externalversions/dns/v1alpha1/interface.go
  pkg/client/dns/informers/externalversions/dns/v1alpha1/remoteaccesscertificate.go
  pkg/client/dns/informers/externalversions/generic.go
  pkg/client/dns/listers/dns/v1alpha1/dnslock.go
  pkg/client/dns/listers/dns/v1alpha1/expansion_generated.go
  pkg/client/dns/listers/dns/v1alpha1/remoteaccesscertificate.go
  pkg/controller/remoteaccesscertificates/controller.go
  pkg/dns/provider/changemodel.go
  pkg/dns/provider/const.go
  pkg/dns/provider/controller.go
  pkg/dns/provider/entry.go
  pkg/dns/provider/ownercache.go
  pkg/dns/provider/ownercache_test.go
  pkg/dns/provider/state.go
  pkg/dns/provider/state_entry.go
  pkg/dns/provider/state_owner.go
  pkg/dns/utils/schedule.go
  pkg/dns/utils/schedule_test.go
  pkg/dns/utils/target.go
  pkg/dns/utils/utils_dns.go
  pkg/dns/utils/utils_entry.go
  pkg/dns/utils/utils_lock.go
  pkg/dns/utils/utils_owner.go
  test/functional/config/config.go
  test/functional/run.sh
  test/integration/dnsActivation_test.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#385 bump version of controller-manager-library for conditional-deploy-crds flag
  cmd/compound/main.go
  go.mod
  go.sum
Labels: needs/ok-to-test, needs/review, size/m

#387 Fix NPE if certificate contains invalid domain name
  pkg/dns/provider/entry.go
  test/integration/entryLivecycle_test.go
Labels: needs/ok-to-test, needs/review, size/s

#388 Publish Helm charts as OCI artifacts
  .ci/pipeline_definitions
Labels: area/delivery, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/os
