Repository gardener/external-dns-management, pull requests merged in 2024-12, with the labels that each got.

#402 Compound integration test and refactorings
  .gitignore
  Makefile
  charts/external-dns-management/templates/crds.yaml
  go.mod
  go.sum
  hack/tools.go
  pkg/apis/dns/crds/dns.gardener.cloud_dnsannotations.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_dnsentries.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_dnshostedzonepolicies.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_dnsowners.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_dnsproviders.yaml
  pkg/apis/dns/crds/zz_generated_crds.go
  pkg/apis/dns/v1alpha1/dnsentry.go
  pkg/apis/dns/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/provider/aws/aliastarget.go
  pkg/controller/provider/aws/handler.go
  pkg/controller/provider/aws/mapping/mapping.go
  pkg/controller/provider/mock/handler.go
  pkg/controller/provider/remote/handler.go
  pkg/dns/dnsset.go
  pkg/dns/provider/changemodel.go
  pkg/dns/provider/entry.go
  pkg/dns/provider/inmemory.go
  pkg/dns/provider/state.go
  pkg/dns/provider/state_entry.go
  pkg/dns/records.go
  pkg/dns/utils/utils_entry.go
  pkg/dnsman2/client/scheme.go
  test/integration/compound/compound_suite_test.go
  test/integration/compound/compound_test.go
  test/integration/run.sh
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl

#404 introduce `dns.gardener.cloud/target-hard-ignore` annotation
  pkg/dns/const.go
  pkg/dns/provider/state_entry.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#405 docs: Tidy README.md
  README.md
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#406 Remove reconcile annotation on reconciliation
  pkg/dns/provider/state_entry.go
  test/integration/compound/compound_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#407 Deletion of source DNSEntries has to wait for complete deletion of target entries
  Makefile
  pkg/controller/provider/mock/handler.go
  pkg/dns/source/reconciler.go
  test/integration/source/dnsentry_test.go
  test/integration/source/source_suite_test.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l
