Repository gardener/external-dns-management, pull requests merged in 2025-08, with the labels that each got.

#578 fix: Conditionally required AWS provider secret values
  pkg/controller/provider/aws/factory.go
  pkg/dns/provider/dnshandleradapterchecks.go
  pkg/dns/provider/dnshandleradapterchecks_test.go
Labels: kind/bug, kind/impediment, kind/task, reviewed/ok-to-test, size/M, cla: yes, lgtm, approved

#589 Refactor `DNSHandlerAdapter` implementations
  charts/external-dns-management/templates/crds.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_dnsproviders.yaml
  pkg/apis/dns/crds/zz_generated_crds.go
  pkg/apis/dns/v1alpha1/dnsprovider.go
  pkg/controller/provider/alicloud/factory.go
  pkg/controller/provider/alicloud/validation/adapter.go
  pkg/controller/provider/aws/config/config.go
  pkg/controller/provider/aws/factory.go
  pkg/controller/provider/aws/handler.go
  pkg/controller/provider/aws/validation/adapter.go
  pkg/controller/provider/azure-private/factory.go
  pkg/controller/provider/azure/factory.go
  pkg/controller/provider/azure/validation/adapter.go
  pkg/controller/provider/cloudflare/factory.go
  pkg/controller/provider/cloudflare/validation/adapter.go
  pkg/controller/provider/compound/validation/adaptors.go
  pkg/controller/provider/google/factory.go
  pkg/controller/provider/google/handler.go
  pkg/controller/provider/google/handler_test.go
  pkg/controller/provider/google/validation/adaptor.go
  pkg/controller/provider/infoblox/config/config.go
  pkg/controller/provider/infoblox/factory.go
  pkg/controller/provider/infoblox/handler.go
  pkg/controller/provider/infoblox/validation/adapter.go
  pkg/controller/provider/mock/factory.go
  pkg/controller/provider/netlify/factory.go
  pkg/controller/provider/netlify/validation/adaptor.go
  pkg/controller/provider/openstack/factory.go
  pkg/controller/provider/openstack/validation/adaptor.go
  pkg/controller/provider/powerdns/factory.go
  pkg/controller/provider/powerdns/validation/adaptor.go
  pkg/controller/provider/remote/factory.go
  pkg/controller/provider/remote/validation/adaptor.go
  pkg/controller/provider/rfc2136/factory.go
  pkg/controller/provider/rfc2136/handler.go
  pkg/controller/provider/rfc2136/validation/adaptor.go
  pkg/dns/provider/dnshandleradapterchecks.go
  pkg/dns/provider/dnshandleradapterchecks_test.go
  pkg/dns/provider/factory.go
  pkg/dns/provider/provider_suite_test.go
  pkg/dnsman2/apis/dns/crd-dns.gardener.cloud_dnsproviders.yaml
Labels: kind/enhancement, reviewed/ok-to-test, cla: yes, lgtm, approved, size/XXL

#605 Add `set -o pipefail` to react on `make generate` failure
  .github/workflows/build.yaml
  pkg/dnsman2/dns/provider/handler/google/execution.go
Labels: kind/task, reviewed/ok-to-test, size/S, cla: yes, lgtm, approved

#596 feat: Validate `DNSAnnotation` data fields
  README.md
  charts/external-dns-management/templates/crds.yaml
  pkg/apis/dns/crds/dns.gardener.cloud_dnsannotations.yaml
  pkg/apis/dns/crds/zz_generated_crds.go
  pkg/apis/dns/v1alpha1/dnsannotation.go
  pkg/controller/annotation/controller.go
  pkg/controller/source/service/handler.go
  pkg/dns/const.go
  pkg/dnsman2/apis/dns/crd-dns.gardener.cloud_dnsannotations.yaml
  test/integration/source/dnsentry_test.go
Labels: kind/enhancement, kind/task, reviewed/ok-to-test, size/L, cla: yes, lgtm, approved
